body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container {
  padding: 20px;
  font-family: sans-serif;
}

.layout {
  display: flex;
  gap: 4rem;
  margin-left: auto;
   margin-right: auto;
  width: 28em
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 80vh;
  overflow-y: auto;
  width: 200px;
}

.list li {
  margin-bottom: 5px;
}

.list button {
  background: #f0f0f0;
  border: none;
  width: 100%;
  text-align: left;
  padding: 6px;
  cursor: pointer;
  border-radius: 4px;
}

.list button:hover {
  background-color: #e0e0e0;
}

.detail {
  flex-grow: 1;
}

.photo img {
  width: 170px;
  border-radius: 10px;
}